@-webkit-keyframes fadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-moz-keyframes fadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-ms-keyframes fadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-o-keyframes fadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes changecolour {
  0% {
    color: #000; }
  100% {
    color: #FFF; } }

@-moz-keyframes changecolour {
  0% {
    color: #000; }
  100% {
    color: #FFF; } }

@-ms-keyframes changecolour {
  0% {
    color: #000; }
  100% {
    color: #FFF; } }

@-o-keyframes changecolour {
  0% {
    color: #000; }
  100% {
    color: #FFF; } }

@keyframes changecolour {
  0% {
    color: #000; }
  100% {
    color: #FFF; } }

@-webkit-keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-ms-keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*
    Example usage: 
    @include animation(10s, 5s, changecolour)
 */
.block {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #9c27b0; }

.row {
  display: flex;
  flex-direction: row; }

.flanker {
  flex-grow: 1; }

.header {
  font-size: 16px;
  font-size: 5.5vmax;
  color: #e0e0e0; }

.subhead {
  opacity: 0;
  flex: 0 0 60%;
  font-size: 2.5vh;
  color: #e0e0e0;
  -webkit-animation-delay: 2s;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: fadein;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 2s;
  -moz-animation-duration: 1s;
  -moz-animation-name: fadein;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 2s;
  -o-animation-duration: 1s;
  -o-animation-name: fadein;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 2s;
  animation-duration: 1s;
  animation-name: fadein;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */ }
