@import 'globals';
@import 'mixins';

.block {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $md-secondary-color;
}

.row {
  display: flex;
  flex-direction: row;
}

.flanker{
  flex-grow: 1;
}

.header{
  font-size: 16px;
  font-size: 5.5vmax;
  color: $md-tertiary-color;
}

.subhead{
  opacity: 0;
  flex: 0 0 60%;
  font-size: 2.5vh;
  color: $md-tertiary-color;
  @include animation(2s, 1s, fadein)
}
