@import 'globals';
@import 'mixins';

.block {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include animation(0s, 1s, slideleftout);
  height: 100vh;
  width: 100vw;
  background-color: $md-secondary-color;
}

.row {
  display: flex;
  flex-direction: row;
}

.flanker{
  flex-grow: 1;
}

.header{
  font-size: 16px;
  font-size: 8vmax;
  color: $md-tertiary-color;
}

.avatar{
  opacity: 0;
  display: inline-block;
  width: 30vmax;
  height: 30vmax;
  margin-bottom: 3vh;
  border-radius: 50%;
  @include animation(2s, 1s, popin);
}

.subhead{
  flex: 0 0 80%;
  opacity: 0;
  font-size: 3vh;
  color: $md-tertiary-color;
  word-wrap: no-wrap;
  @include animation(2s, .1s, fadein)
}

$initial_delay : 5;

.b1{
  opacity: 0;
  @include animation($initial_delay+s, 1s, popin);
}

.b2{
  opacity: 0;
  @include animation($initial_delay+.2s, 1s, popin);
}

.b3{
  opacity: 0;
  @include animation($initial_delay+.4s, 1s, popin);
}

.b4{
  opacity: 0;
  @include animation($initial_delay+.6s, 1s, popin);
}
